.home,
.page-template-page-home {
	position: relative;
	background: $antiflash_white;
	@include vert_grid(6, $dark_resin, -1);

	// ::
	// HERO ---------------------------::
	// ____
	.hero {
		$skew: 32deg;

		position: relative;
		@include size(100vw 100vh);
		max-width: 100%;
		min-height: 470px;
		background: $eerie_black;
		overflow: hidden;
		z-index: 0;

		@media ($mobile_lg) {
			min-height: 100vh;
		}

		&:before {
			content: '';
			@include position(absolute, 0 null null 0);
			@include size(100% 50%);
			background: $international_orange;

			@media ($mobile_lg) {
				@include size(50% 100%);
				background: shade($international_orange, 10%);
			}
		}

		&:after {
			content: '';
			@include position(absolute, null 0 0 null);
			@include size(100% 50%);
			background: $space_cadet;
			z-index: -1;

			@media ($mobile_lg) {
				@include position(absolute, 0 0 null null);
				@include size(50% 100%);
				background: shade($space_cadet, 10%);
			}
		}

		// ::
		// VIDEO SECTORS ---------------------------::
		// ____
		&__sector01,
		&__sector02 {
			display: none;

			@media ($mobile_lg) {
				display: block;
				position: absolute;
				@include size(80% 100%);
				transform: skewX(-$skew);
				overflow: hidden;
				text-align: right;
				transition: all 0.5s;

				.image {
					@include size(130% 100%);
					background-repeat: no-repeat;
					background-position: 50% 50%;
					background-size: cover;
					filter: grayscale(100%);
					transform: skewX($skew);
					opacity: 0.18;
				}

				video {
					display: none;
				}
			}

			@media ($desktop_sm) {
				.image {
					display: none;
				}

				video {
					display: block;
					@include size(120% 100%);
					object-fit: cover;
					filter: grayscale(100%);
					transform: skewX($skew);
					opacity: 0.18;
					transition: all 0.5s ease-out;
				}
			}
		}

		&__sector01 {
			background: $international_orange;
			left: -30%;

			video,
			.image {
				@include position(absolute, 0 null null 25%);
			}

			@media ($desktop_sm) {
				&.shift-right {
					left: -28%;

					video {
						left: 23%;
					}
				}

				&.shift-left {
					left: -32%;
				}
			}
		}

		&__sector02 {
			background: $space_cadet;
			right: -30%;

			video,
			.image {
				@include position(absolute, 0 25% null null);
			}

			@media ($desktop_sm) {
				&.shift-right {
					right: -32%;
				}

				&.shift-left {
					right: -28%;

					video {
						right: 23%;
					}
				}
			}
		}

		// ::
		// CONTENT ---------------------------::
		// ____
		.content {
			position: absolute;
			display: flex;
			flex-direction: column;
			@include size(100%);
			color: $white;
			z-index: 2;

			@media ($mobile_lg) {
				flex-direction: row;
			}

			&__sector01,
			&__sector02 {
				position: relative;
				flex: 1 1 50%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding: $fat_pad;

				// Mobile Non-Slanted Images
				&:before {
					content: '';
					@include position(absolute, 0 null null 0);
					@include size(100%);
					filter: grayscale(100%);
					opacity: 0.18;

					@media ($mobile_lg) {
						display: none;
					}
				}


				h2 {
					opacity: 0; // Hide for JS to Animate In
					font-size: 28px;

					@media ($mobile_md) {
						font-size: 40px;
					}

					@media ($desktop_xsm) {
						font-size: 54px;
					}
				}

				.button-diagonal {
					position: relative;
					margin-top: 10px;
					font-family: $font_light;
					background: $asphalt;
					font-size: 16px;
					letter-spacing: 3px;
					text-transform: uppercase;
					color: $white;
					padding: 14px 20px 10px;
					transform: skewX(-$skew);
					overflow: hidden;
					transition: none;
					opacity: 0; // Hide for JS to Animate In

					@media ($mobile_md) {
						font-size: 18px;
					}

					@media ($desktop_xsm) {
						font-size: 22px;
						padding: 16px 28px;
					}

					.btn-label {
						display: block;
						transform: skewX($skew);
					}

					.button-backing {
						@include position(absolute, 0 null null -100%);
						@include size(100%);
						background: $white;
						transition: all 0.4s $ease-in-out-circ;
					}

					&:hover {
						.button-backing {
							left: 0;
						}
					}
				} // .button-diagonal
			} // &__sector01, &__sector02

			&__sector01 {
				&:before {
					@include background(images, driving, jpg, no-repeat, 50%, 50%, cover);
				}

				.button-diagonal {
					background: $space_cadet;

					.button-backing {
						background: tint($space_cadet, 6%);
					}
				}
			}

			&__sector02 {
				&:before {
					@include background(images, bling_blink, jpg, no-repeat, 50%, 50%, cover);
				}

				.button-diagonal {
					background: $international_orange;

					.button-backing {
						background: shade($international_orange, 11%);
					}
				}
			}
		} // .content

		// ::
		// HERO FOOTER ---------------------------::
		// ____
		&__footer {
			@media ($mobile_lg) {
				@include position(absolute, null null 0 0);
				display: flex;
				justify-content: center;
				align-items: flex-end;
				z-index: 2;

				@include size(100% 100px);
				padding: 12px $fat_padding;

				&:before,
				&:after {
					content: '';
					display: block;
					@include size(50% 1px);
					background: $white;
					opacity: 0.22;
					margin-bottom: 10px;
				}

				.down {
					$size: 72px;
					flex: 0 0 $size;
					margin: 0 $main_padding;

					.page-down {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						@include size(100% 74px);
						border: 5px solid rgba($eerie_black, 0.18);
						border-bottom: 0;

						.down-arrow {
							$arrow_size: 27px 15px;
							display: block;
							@include size($arrow_size);
							@include background(images, arrow-down, svg, no-repeat, 0, 0, $arrow_size);
							opacity: 0.26;
							transition: all 0.3s;
						}

						&:hover {
							height: 84px;

							.down-arrow {
								opacity: 1;
							}
						}
					}
				}
			}
		}
	} // .hero

	// ::
	// HOW DOES IT WORK ---------------------------::
	// ____
	.how-does-it-work {
		position: relative;
		display: block;
		width: 100%;
		min-height: 662px;
		background: $dark_resin;
		z-index: 2;

		@include vert_grid;

		.diagshape {
			@media ($mobile_md) {
				@include position(absolute, 50% null null -50%);
				@include size(360px 450px);
				background: $bdazzled_blue;
				transform: skewX(-45deg);
			}

			@media ($mobile_xlg) {
				left: 0;
			}

			@media ($desktop_sm) {
				height: 900px;
			}
		}

		.floating-box {
			@include position(absolute, null 0 null 0);
		    display: flex;
		    flex-direction: column;
			width: 90%;
			margin-right: auto;
			margin-left: auto;
			z-index: 1;

			@media ($mobile_lg) {
				display: block;
				// top: 120px;
			}

			@media ($desktop_lg) {
				width: $kaiju - 40px;
			}

			@media ($desktop_xxlg) {
				width: $betelgeuse;
			}

			/* :: Info Window
			---------------------------------- */
			.info {
				width: 100%;
				height: auto;

				@media ($mobile_lg) {
					@include position(absolute, 0 null null 0);
					min-height: 440px;
					width: 56%;
				}

				@media ($desktop_md) {
					width: 45%;
				}

				.side-text {
					display: none;

					@media ($mobile_lg) {
						@include position(absolute, null null 140px 0);
						display: block;
						font-family: $font_header;
						font-size: 16px;
						letter-spacing: 3px;
						color: $white;
						transform: rotate(-90deg);
						transform-origin: left;

						&:before {
							content: '';
							@include position(absolute, 8px null null -150px);
							@include size(130px 3px);
							background: $white;
						}
					}
				}

				.content {
					position: relative;
					float: right;
					width: 100%;
					min-height: 300px;
					height: 100%;
					background-color: $white;
					box-shadow: 4px 4px 33px rgba(#000000, 0.3);

					@media ($mobile_lg) {
						width: calc(100% - 26px);
					}

					.heading {
						display: flex;
						width: 100%;
						font-family: $font_header;
						font-size: 30px;
						line-height: 36px;
						letter-spacing: 1px;
						color: $deep_carmine;
						text-shadow: 2px 2px 12px rgba($deep_carmine, 0.4);
						padding: 32px 40px;

						@media ($mobile_xsm) {
							font-size: 44px;
							line-height: 46px;
						}

						@media ($mobile_lg) {
							width: 130%;
						}

						@media ($desktop_xsm) {
							font-size: 60px;
							line-height: 70px;
						}

						@media ($desktop_sm) {
							padding: 47px 63px;
						}

						@media ($desktop_mdlg) {
							font-size: 75px;
							line-height: 80px;
						}

						.info-icon {
							position: relative;
							flex: 0 0 32px;
							margin-right: 18px;
							display: block;
							@include background(images, piston, png, no-repeat, 50%, 50%, contain);

							@media ($mobile_lg) {
								margin-right: 30px;
								flex: 0 0 48px;
							}

							@media ($desktop_xsm) {
								background-size: 48px 125px;
							}
						}

						.divider {
							@media ($mobile_lg) {
								position: relative;
								flex: 0 0 6px;
								margin-right: 30px;
								display: block;
								background: $bdazzled_blue;
							}
						}
					} // .heading

					.description {
						padding: 0 20px 32px;

						@media ($mobile_sm) {
							padding: 0 40px 32px;
						}

						@media ($desktop_sm) {
							padding: 0 63px 47px;
						}
					}
				} // .content
			} // .info

			/* :: Video Link
			---------------------------------- */
			.video-link {
				position: relative;
				top: -12px;
				margin: 0 auto;
				display: flex;
				justify-content: center;
				align-items: center;
				@include size(80% 200px);
				background-color: $eerie_black;
				@include background(images, video-thumb, jpg, no-repeat, 50%, 50%, cover);
				box-shadow: 4px 4px 33px rgba(#000000, 0.3);
				transition: none;

				@media ($mobile_lg) {
					@include position(absolute, 100px 0 null null);
					@include size(46% 470px);
				}

				@media ($desktop_md) {
					width: 56%;
				}

				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					@include size(100%);
					background-color: $bdazzled_blue;
					opacity: 0.35;
				}

				@media ($mobile_lg) {
					&:after {
						content: '';
						@include position(absolute, -16px -25px null null);
						@include size(98%);
						border: 2px solid $international_orange;
						opacity: 0.65;
					}
				}

				// Play Button Wrapper
				.play {
					position: relative;
					display: flex;
					justify-content: center;
					align-items: center;
					background-color: rgba($eerie_black, 0.55);
					@include size(85px);
					transform: rotate(45deg);
					transition: all 0.35s;
					z-index: 1;

					&:before {
						content: '';
						@include position(absolute, -10% null null -10%);
						@include size(120%);
						border: 1px solid $white;
						transition: all 0.35s;
					}

					.icon {
						display: block;
						@include triangle(36px, $white, right);
						transform: rotate(-45deg) translateX(4px);
						transition: all 0.35s;
					}

					&:hover {
						background-color: $eerie_black;

						&:before {
							transform: rotate(90deg);
						}

						.icon {
							transform: rotate(-45deg) translateX(6px) scale(1.5,1.5);
						}
					}
				} // .play
			} // .video-link

			/* :: Video Modal
			---------------------------------- */
			.open-video {
				@include position(fixed, 0 0 null null);
				@include size(100vw 100vh);
				background: rgba($dark_knight, 0.9);
				transition: all 0.4s;
				visibility: hidden;
				opacity: 0;
				z-index: 1100;

				&.opened {
					visibility: visible;
					opacity: 1;
				}

				.close {
					@include position(absolute, 20px 20px null null);
					@include size(40px);
					transition: none;
					opacity: 1;
					z-index: 3;

					&:before,
					&:after {
						content: '';
						position: absolute;
						top: 50%;
						@include size(100% 3px);
						background: $deep_carmine;
						transform: rotate(-45deg);
						transition: all 0.3s;
					}

					&:after {
						transform: rotate(45deg);
					}

					&:hover {
						&:before {
							background: shade($deep_carmine, 30%);
						}

						&:after {
							background: shade($deep_carmine, 30%);
						}
					} // &:hover
				} // .close

				.vid-container {
					@extend %container_flex;
					align-items: center;
					justify-content: center;
					height: 100%;

					.plyr {
						width: 100%;
					}
				}
			} // .open-video
		} // .floating-box
	} // .how-does-it-work

	// ::
	// MAIN CONTENT ---------------------------::
	// ____
	/* In here is content that changes for the
	different user types. */
	.home-content {
		@extend %container;
		padding-top: 260px;
		z-index: 4;

		@media ($mobile_sm) {
			padding-top: 200px;
		}

		@media ($mobile_mds) {
			padding-top: 120px;
			z-index: 1;
		}

		@media ($desktop_xsm) {
			padding-top: 220px;
		}

		@media ($desktop_lg) {
			padding-top: 180px;
		}

		// ::
		// GUEST VIEW ---------------------------::
		// ____
		/* :: Slider Switcher
		---------------------------------- */
		.slider-switch {
			width: 100%;
			height: 128px;
			display: flex;
			justify-content: center;
			flex-direction: column;
			margin-bottom: 90px;
			padding: 0 20px;

			@media ($mobile_md) {
				height: auto;
				flex-direction: row;
			}

			.switcher {
				flex: 0 1 280px;
				padding: 16px;
				text-align: center;
				font-size: 20px;
				color: $dark_resin;
				background: $lavender_grey;
				box-shadow: 4px 4px 33px rgba(#000000, 0.3);

				@media ($mobile_mds) {
					box-shadow: none;
				}

				@media ($mobile_md) {
					transform: skewX(-32deg);
				}

				.wrapper {
					width: 100%;
					display: flex;
					justify-content: center;
					align-items: center;

					@media ($mobile_md) {
						transform: skewX(32deg);
					}

					.sswitch-icon {
						@include size(24px);
						fill: tint($dark_resin, 45%);
						margin-right: 10px;
						transition: all 0.3s;
					}

					span {
						padding-top: 2px;
					}
				}

				&:hover {
					background: tint($lavender_grey, 25%);
				}

				&--active {
					color: $white;
					background: $deep_koamaru;

					.wrapper {
						.sswitch-icon {
							fill: $deep_carmine;
						}
					}

					&:hover {
						background: $deep_koamaru;
					}
				}
			}
		}

		/* :: Slider
		---------------------------------- */
		.slider-wrapper {
			position: relative;
			width: 100%;
			min-height: 800px;
			margin-bottom: 60px;

			@media ($mobile_lg) {
				min-height: 600px;
			}
		}

		.hiw-slider {
			@include position(absolute, 50px null null 0);
			@include size(100%);
			opacity: 0;
			visibility: hidden;
			transition: all 0.8s;

			@media ($mobile_lg) {
				top: 200px;
			}

			&.visible {
				top: 0;
				opacity: 1;
				visibility: visible;
			}

			// Backing Squares
			.square {
				&__red {
					@include position(absolute, 12% null null -10px);
					@include size(28% 85%);
					background: $international_orange;

					@media ($mobile_lg) {
					left: 0;
					}
				}

				&__blue {
					@include position(absolute, 5% 1.6% null null);
					@include size(28% 85%);
					background: $space_cadet;
				}
			}

			// Image Container
			.image-container {
				position: absolute;
				left: 4.2%;
				list-style: none;
				@include size(90% 260px);
				margin: 0;
				padding: 0;
				background-color: $asphalt;
				box-shadow: 4px 4px 33px rgba(#000000, 0.3);

				@media ($mobile_lg) {
					@include size(35% 560px);
				}

				.slide {
					@include position(absolute, 0 null null 0);
					@include size(100%);
					opacity: 0;
					visibility: hidden;
					transition: all 0.3s;

					.image {
						@include size(100%);
						background-color: $asphalt;
						background-repeat: no-repeat;
						background-position: 50% 50%;
						background-size: cover;
					}

					&.visible {
						opacity: 1;
						visibility: visible;
					}

				} // .slide
			} // .image-container

			// Text Container
			.text-container {
				@include position(absolute, 250px null null null);
				@include size(100% 560px);
				background: $dark_resin;
				box-shadow: 4px 4px 33px rgba(#000000, 0.3);
				overflow: hidden;
				z-index: 2;

				@media ($mobile_lg) {
					top: 50px;
					right: 4%;
					width: 60%;
				}

				.slide-counter {
					@include position(absolute, null 0 20px 0);
					display: none;

					@media ($mobile_lg) {
						display: block;
						@include size(70px 50px);
						margin: 0 auto;
						font-size: 20px;
						font-style: italic;
						color: $white;
						top: 20px;
						left: 9%;
						margin: 0;
					}

					.current-wrapper {
						@include position(absolute, 0 null null 0);
						color: $deep_carmine;

						.current {
							@include position(absolute, 0 null null 0);
							opacity: 0;
							visibility: hidden;

							&.visible {
								opacity: 1;
								visibility: visible;
							}
						}
					}

					&:before {
						content: '';
						@include position(absolute, -5px null null 34px);
						@include size(2px 60px);
						background: $white;
						opacity: 0.44;
						transform: rotate(45deg);
					}

					.total {
						@include position(absolute, null 0 0 null);
						opacity: 0.44;
					}
				}

				.text-field {
					@include position(absolute, $main_pad null null 0);
					padding: $fat_pad;
					opacity: 0;
					visibility: hidden;
					transition: all 0.3s;

					@media ($mobile_lg) {
						@include position(absolute, 50% null null 0);
						transform: translateY(-50%);
						padding: 20px 90px 20px 9%;
					}

					@media ($desktop_lg) {
						padding-right: 7%;
					}

					.title {
						position: relative;
						left: 25px;
						font-size: 20px;
						letter-spacing: 2px;
						color: $deep_carmine;
						margin-bottom: 14px;
						padding-right: 25px;

						@media ($mobile_xlg) {
							font-size: 24px;
						}

						@media ($desktop_sm) {
							font-size: 30px;
							margin-bottom: 22px;
						}

						&:before {
							content: '';
							position: absolute;
							left: -25px;
							@include size(3px 100%);
							background-color: $bdazzled_blue;
						}
					}

					.ctatext {
						margin-top: 20px;
					}

					p,
					li {
						color: $white;
						letter-spacing: 1px;
						font-size: 13px;

						@media ($desktop_xsm) {
							font-size: 16px;
						}

						@media ($desktop_mds) {
							font-size: 18px;
						}
					}

					ol {
						padding-left: 22px;
					}

					ul {
						padding: 0;

						li {
							position: relative;
							list-style: none;
							margin-left: 30px;
							margin-bottom: 4px;

							// Check
							&:before {
								content: '';
								@include position(absolute, 4px null null -30px);
								@include size(16px 11px);
								@include background(images, check, svg, no-repeat, 0, 0, 100%);

								@media ($mobile_xlg) {
									@include size(20px 14px);
								}
							}
						}
					}

					&.visible {
						opacity: 1;
						visibility: visible;
					}
				} // .text-field
			} // .text-container

			/* :: Controls
			---------------------------------- */
			.slider-controls {
				@include position(absolute, null null 0 0);
				width: 100%;
				z-index: 4;

				@media ($mobile_lg) {
					width: auto;
					left: auto;
					right: 0;
				}

				@media ($mobile_lg) {
					bottom: 0;
					top: 90px;
				}

				.controler {
					position: relative;
					display: block;
					@include size(76px);
					background: $bdazzled_blue;

					.label {
						@include position(absolute, 50% 20px null null);
						text-transform: uppercase;
						letter-spacing: 2px;
						font-size: 13px;
						opacity: 0.3;
						writing-mode: vertical-rl;
						text-orientation: sideways-right;
						transform: translateY(-50%);
						transition: opacity 0.4s;
						z-index: 1;
					}

					// Arrow
					&:before {
						content: '';
						@include position(absolute, 50% null null -28px);
						@include size(60px 38px);
						transform: translateY(-50%);
						z-index: 2;
						transition: all 0.4s ease-out;
					}

					// Color Swipe
					&:after {
						content: '';
						@include position(absolute, 0 null null 0);
						@include size(0 100%);
						background: $deep_carmine;
						z-index: 0;
						transition: all 0.5s $ease-in-out-circ;
					}

					&.__next {
						@include position(absolute, 0 0 null null);
						margin-bottom: 6px;

						&:before {
							@include background(images, arrow-right, svg, no-repeat, 0, 0, 100%);
						}

						@media ($mobile_lg) {
							position: relative;
						}
					}

					&.__prev {
						&:before {
							@include position(absolute, 50% -28px null auto);
							@include background(images, arrow-left, svg, no-repeat, 0, 0, 100%);

							@media ($mobile_lg) {
								@include position(absolute, 50% auto null -28px);
							}
						}

						.label {
							@include position(absolute, 50% auto null -14px);

							@media ($mobile_lg) {
								@include position(absolute, 50% 20px null auto);
							}
						}
					}

					@media ($mobile_lg) {
						&:hover {
							.label {
								opacity: 0.6;
							}

							&.__next {
								&:before {
									transform: translateY(-50%) translateX(10%);
								}
							}

							&.__prev {
								&:before {
									transform: translateY(-50%) translateX(-10%);
								}
							}

							&:after {
								width: 100%;
							}
						}
					}
				} // .controler
			} //.slider-controls
		} //.hiw-slider

		// ::
		// SHOP + CUSTOMER TITLE ---------------------------::
		// ____
		.content-title {
			position: relative;
			display: flex;
			flex-direction: column;
			margin: 0 auto;

			&__subtitle {
				display: flex;
				align-items: center;
				font-family: $font_header;
				color: $space_cadet;
				align-self: center;
				width: auto;

				.subtitle__line {
					@media ($mobile_mdlg) {
						@include size(100px 3px);
						background: $space_cadet;
						margin-right: 20px;
					}

					@media ($mobile_xlg) {
						width: 150px;
					}
				}

				.subtitle__title {
					font-size: 13px;
					letter-spacing: 1px;

					@media ($mobile_sm) {
						font-size: 14px;
						letter-spacing: 2px;
					}

					@media ($mobile_xlg) {
						font-size: 16px;
						letter-spacing: 3px;
					}
				}
			}

			&__primary {
				margin-top: 5px;
				font-size: 28px;
				color: $asphalt;
				align-self: center;

				@media ($mobile_sm) {
					margin-top: 8px;
					font-size: 36px;
				}

				@media ($mobile_mdlg) {
					font-size: 58px;
				}

				@media ($mobile_xlg) {
					font-size: 76px;
				}
			}
		} // .content-title

		// Content Wrapper
		.vc_column-inner {
			margin-top: -25px;

			.section-wrapper {
				padding-top: 0;

				.paginations {
					display: none;
				}
			}
		}
	} // .home-content
} // .home
