.bstatus {
	&--verified {
		color: #64bd63;
	}

	&--unverified {
		color: $international_orange;
	}
}


// Tabs
.nav-tabs-project .nav-tabs li.active a,
.nav-tabs-profile .nav-tabs li.active a {
	border-color: $bdazzled_blue;
}

.nav-tabs-project .nav-tabs li a:hover,
.nav-tabs-profile .nav-tabs li a:hover {
	border-color: $international_orange;
}


// Work History and Reviews
.list-history-profile .name-history .content-bid-item-history h5 a {
	font-size: 18px;
	font-weight: 400;
	color: $deep_carmine;
}


.action-project .number-blue {
	color: $bdazzled_blue;
}

.setting-profile-wrapper .list-setting li a {
	color: $bdazzled_blue;
	font-weight: 400;
}

.bid-history {
	.full-text p {
		padding-top: 10px;
		font-size: 14px;
	}
}
