.page-template-page-splash {
	background: $eerie_black;

	// ::
	// HERO ---------------------------::
	// ____
	.hero-video {
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: center;
		@include size(100vw 100vh);
		@include background(images, bling_blink, jpg, no-repeat, center, 0, cover);
		overflow: hidden;

			.hero-video__video {
				display: none;

				@media ($desktop_xsm) {
					@include position(absolute, 0 null null 0);
					display: block;
					@include size(100%);
					object-fit: cover;
				}
			}

		.graphics {
			@include position(absolute, 0 null null 0);
			@include size(calc(100% - 40px));
			margin: 20px;
			z-index: 1;

			.frame {
				@include position(absolute, 0 null null 0);
				@include size(100%);
				border: 1px solid #f03a3e;
				opacity: 0; // Hide for JS to Animate In
			}

			.top-slice {
				display: none;

				@media ($mobile_mdlg) {
					display: block;
					@include position(absolute, -400px null null -20px);
					@include size(600px 500px);
					background: #f03a3e;
					transform: skewY(-40deg);
					opacity: 0; // Hide for JS to Animate In
				}
			}

			.bottom-slice {
				display: none;

				@media ($mobile_mdlg) {
					display: block;
					@include position(absolute, null -20px -500px null);
					@include size(600px 500px);
					background: #31588d;
					transform: skewY(-40deg);
					opacity: 0; // Hide for JS to Animate In
				}
			}
		}

		//  Content
		.content {
			z-index: 2;
			font-size: 16px;
			color: $azureish_white;
			text-align: center;
			padding: $fat_pad;

			// logo
			.logo {
				display: inline-block;
				max-width: 456px;
				width: 100%;
				margin-bottom: 25px;
				opacity: 0; // Hide for JS to Animate In
			}

			h1 {
				font-size: 2em;
				font-weight: 400;
				margin: 0;
				opacity: 0; // Hide for JS to Animate In

				@media ($mobile_mdlg) {
					font-size: 3em;
				}
			}

			h4 {
				font-size: 0.8em;
				font-weight: 400;
				margin: 10px 0;
				text-transform: uppercase;
				letter-spacing: 4px;
				opacity: 0; // Hide for JS to Animate In

				@media ($mobile_mdlg) {
					font-size: 1.5em;
				}
			}

		}

		// Overlau
		&:after {
			content: '';
			@include position(absolute, 0 null null 0);
			@include size(100%);
			background: $eerie_black;
			opacity: 0.7;
		}
	}
}
