/*---------------------------
  2.CUSTOM CSS FOR ALL PAGES
    2.10.3 STYLE CSS FOR CREDITS
--------------------------------*/
#billing .balance {
    position: relative;
    border-bottom: 1px solid #f5f7f9;
    padding: 30px 30px 0px 30px;
}
#billing .balance .credit, #billing .balance .available, #billing .balance .frozen {
    color: #737c85;
    margin-right: 40px;
}
#billing .balance .credit {
    font-size: 18px;
    font-weight: 500;
}
#billing .balance .available, #billing .balance .frozen {
    font-size: 14px;
    font-weight: 300;
}
#billing .balance .frozen button{
    padding: 0 5px !important;
}
#billing .balance .frozen i{
    color: #666f78;
}
#billing .balance .frozen button:hover {
    background: none !important;
    padding: 0 5px !important;
}
#billing .balance .buget {
    font-size: 20px;
    font-weight: 700;
}
#billing .email-paypal-credit, #billing .bank-info-credit{
    padding-left: 30px;
}
#billing .email-paypal-credit {
    margin-top: 20px;
}
#billing .email-credit{
    margin-right: 68px !important;
}
#billing .bank-info-credit{
    margin-top: 22px;
    margin-bottom: 30px;
}
#billing .balance .balance-credit .credit {
    margin-right: 30px;
}
#billing .balance .balance-credit .buget {
    font-size: 18px;
}
#billing .balance .balance-credit {
    border-bottom: 1px solid #f5f7f9;
    padding: 19px 30px;
    margin-bottom: 0;
}
#billing .balance .info-balance{
    border-bottom: 1px solid #f5f7f9;
}
#billing .balance .balance-available{
    padding: 10px 30px;
}
#billing .balance .balance-frozen{
    padding: 10px 30px;
    border-left: 1px solid #f5f7f9;
}
#billing .balance .info-balance{
    margin: 0;
}
#billing .balance .fre_credit_freezable_text{
    color: #666f78;
    font-weight: 600;
    font-size: 16px;
}
#billing .balance .frozen{
    margin-right: 0 !important;
}
#billing .balance .button-functions{
    margin: 25px 0 40px 30px;
}
#billing .balance .button-functions .btn-add button, #billing .balance .button-functions .btn-withdraw button {
    border: none;
}
#billing .balance .button-functions .btn-add {
    margin-right: 10px;
    padding: 5px 28px;
}
#billing .balance .button-functions .btn-withdraw {
    font-weight: 300;
    padding: 5px 28px;
}
#billing .balance .button-functions .btn-withdraw i {
    margin-right: 20px;
}
#billing .changelog {
    padding: 0 !important;
}
#billing .changelog .bar-title {
    padding:  20px 0;
    border-bottom: 1px solid #f5f7f9;
    position: relative;
}
#billing .changelog .bar-title .title {
    font-size: 16px;
    /* padding-bottom: 10px; */
    color: #2c3e50;
    font-weight: 600;
    margin-left: 30px;
    margin-bottom: 0;
}
#billing .changelog .function-filter{
    position: relative;
    border: 1px solid #f5f7f9;
    padding: 20px 30px;
    border-top: none;
}
#billing .changelog .changelog-list{
    border: 1px solid #f5f7f9;
    padding: 24px 30px;
    border-top: none;
    border-bottom: none;
}
#billing .changelog .changelog-list .paginations-wrapper {
    padding-bottom: 0;
}
#billing .changelog .function-filter .value, #billing .changelog .function-filter .date {
    display: inline-block;
}
#billing .changelog .function-filter .value {
    margin-right: 20px;
}
#billing .changelog .function-filter .value .dropbox {
    cursor: pointer;
}
#billing .changelog .function-filter .value ul {
    margin: 0;
}
#billing .changelog .function-filter .value .list-value {
    background: #fff;
    padding: 5px 10px;
    border: 1px solid #e1e4e6;
    position: absolute;
    z-index: 999;
    margin-top: 0;
    top: 2px;
    left: 19px;
}
#billing .changelog .function-filter .value .list-value li {
    display: block;
    background: #fff;
    padding: 12px 0;
    width: 150px;
    border-bottom: 1px solid #e1e4e6;
    cursor: pointer;
}
#billing .changelog .function-filter .value .list-value li:last-child {
    border-bottom: none;
}
#billing .changelog .function-filter .value .list-value li i {
    padding-right: 8px;
}
#billing .changelog .function-filter .value .list-value li a {
    display: block;
}
#billing .changelog .function-filter .date {
    position: relative;
    float: right;
}
#billing .changelog .function-filter .date > span{
    margin-left:  8px;
}
#billing .no-history{
    padding: 20px 30px;
}
#billing .changelog .function-filter .date input {
    border: none;
    color: #2c3e50;
    width: 90px;
    cursor: pointer;
    font-weight: 600;
    text-align: right;
}

#billing .changelog .function-filter .date  input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-weight: 300;
}
#billing .changelog .function-filter .date  input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    opacity:  1;
    font-weight: 300;
}
#billing .changelog .function-filter .date  input::-moz-placeholder { /* Mozilla Firefox 19+ */
    opacity:  1;
    font-weight: 300;
}
#billing .changelog .function-filter .date  input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    opacity:  1;
    font-weight: 300;
}
#billing .changelog .changelog-list ul {
    margin:  0;
    padding-left: 0;
}
#billing .changelog .changelog-list ul li {
    display: block;
    position: relative;
    border-bottom: 1px solid #f5f7f9;
    padding: 13px 0 6px;
    font-size: 14px;
    padding: 20px 30px 10px 0;
}
#billing .changelog .changelog-list ul li:last-child {
    border-bottom: none;
    padding-bottom: 0;
}
#billing .changelog .changelog-list ul li:first-child {
    padding-top: 0;
}
#billing .changelog .changelog-list ul li .information-detail i {
    padding-right: 5px;
}
#billing .changelog .changelog-list ul li .information-detail span {
    font-weight: 600;
}
#billing .changelog .changelog-list ul li .information-detail .price {
    color: #666f78;
    font-weight: 600;
}
#billing .changelog .changelog-list ul li .information-detail .cate-credit{
    font-weight: normal;
    text-transform: capitalize;
}
#billing .changelog .changelog-list ul li .information-detail .status{
    text-transform: capitalize;
}
#billing .changelog .changelog-list ul li .information-status {
    position: absolute;
    right: 30px;
    top: 18px;
    text-align: right;
}
#billing .changelog .changelog-list ul li .information-status .date {
    color: #90a4ae;
    font-weight: 300;
    margin-bottom: 17px;
}
#billing .changelog .changelog-list ul li .information-status .status {
    font-weight: 400;
    font-size: 10px;
}
#billing .changelog .changelog-list ul li .information-status i {
    padding-left: 5px;
}
.withdraw .modal-header {
    padding: 40px 35px 19px;
}
.withdraw .balance-withdraw {
    border-bottom: 1px solid #d7d9da;
    padding: 20px 0;
    font-weight: 600;
}
.withdraw .balance-withdraw .current, .withdraw .balance-withdraw .available {
    margin-bottom: 25px;
}
.withdraw .balance-withdraw .current, .withdraw .balance-withdraw .available, .withdraw .balance-withdraw .frozen {
    position: relative;
    font-weight: 600;
}
.withdraw .balance-withdraw .current .price, .withdraw .balance-withdraw .available .price, .withdraw .balance-withdraw .frozen .price {
    position: absolute;
    right: 0;
    font-weight: 600;
}
.withdraw .balance-withdraw .frozen .price {
    color: #b0bec5;
}
.withdraw .amount-withdraw {
    border-bottom: 1px solid #d7d9da;
    padding: 30px 0;
    position: relative;
}
.withdraw .amount-withdraw .title {
    font-weight: 600;
}
.withdraw .amount-withdraw p {
    margin-bottom: 0;
}
.withdraw .amount-withdraw .price-amount {
    font-size: 10px;
    width: 58%;
}
.withdraw .amount-withdraw .input-amount {
    position: absolute;
    right: 0;
    top: 25px;
    text-align: right;
}
.withdraw .amount-withdraw .input-amount.error i{
    position: absolute;
    right: 12px;
    top: 15px;
    text-align: right;
}
.withdraw .amount-withdraw .input-amount input {
    border-radius: 4px;
    border: 1px solid #d7d9da;
    height: 42px;
    padding-left: 10px;
    width: 123px;
}
.withdraw .security-code {
    border-bottom: none;
}
.withdraw .payment {
    margin-top: 30px;
    padding-bottom: 25px;
    position: relative;
}
.withdraw .payment label {
    margin-bottom: 20px;
}
.withdraw .payment textarea {
    width: 100%;
    height: 170px;
    border-radius: 4px;
    padding: 15px;
}
.withdraw .btn-submit {
    padding: 12px 60px;
    margin-bottom: 20px;
}
#fre_credit_modal .modal-body{
    padding: 0;
}
#fre_credit_modal .credit-current-balance, #fre_credit_modal .credit-select-plan, #fre_credit_modal .credit-secure-code{
    border-bottom: 1px solid #ecf0f1;
    padding: 0 35px 25px 35px;
}
#fre_credit_modal .credit-select-plan, #fre_credit_modal .credit-secure-code{
    padding-top: 30px;
}
#fre_credit_modal .credit-current-balance label, #fre_credit_modal .credit-select-plan label, #fre_credit_modal .credit-secure-code label{
    color: #919191;
    font-size: 14px;
    font-weight: 400;
    display: block;
    margin-bottom: 10px;
}
#fre_credit_modal .credit-current-balance .fee-package, #fre_credit_modal .credit-select-plan .fee-package{
    color: #2c3e50;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0;
}
#fre_credit_modal .credit-select-plan .plan_desc{
    color: #5d5f5e;
    font-style: italic;
    margin-top: 8px;
}
#fre_credit_modal .credit-secure-code input[type="password"]{
    width: 65%;
    margin-bottom: 0;
}
#fre_credit_modal .credit-secure-code .error .message{
    text-align: right;
}
#fre_credit_modal .footer{
    padding: 20px 30px 7px 30px;
}
#fre_credit_modal .footer .btn-pay-balance{
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 400;
}
#fre_credit_modal .credit-secure-code .error i{
    position: relative;
    right: 30px;
}
#fre_credit_modal .credit-secure-code .error .message{
    text-align: right;
    color: #e18972;
    font-size: 12px;
    margin: 5px 170px 0 0;
}
.fre-credit-payment-onsite .btn-not-money, .button-functions .btn-not-money{
    background-color: #b9b8b8 !important;
    box-shadow: 0 3px 0 #919191 !important;
    cursor: default;
}
.fre-credit-payment-onsite .btn-not-money:hover{
    opacity: 1 !important;
}
#fre_credit_withdraw_form .has-error i{
    position: absolute;
    color: #e18972;
    right: 11px;
    bottom: 63px;
}
#fre_credit_withdraw_form .payment.has-error i{
    bottom: 47px;
}
#fre_credit_withdraw_form .has-error .message{
    color: #e18972;
    position: absolute;
    right: 0;
}
#fre_credit_withdraw_form .security-code .has-error .message{
    position: relative;
    bottom: 22px;
}
#fre_credit_withdraw_form .amount-withdraw .has-error .message{
    position: relative;
    bottom: 25px;
    right: 0;
    padding-right: 0;
}
.withdraw p.warning{
    background:#e64b3b;
    color: #fff;
    border-radius: 3px;
    padding: 8px 15px;
    margin: 20px 0;
}
.fre-credit-payment-onsite .popover, .button-functions .popover{
    border: none;
    border-radius: 3px;
    border-top: 1px solid #f44336 !important;
    display: none !important;
    box-shadow: none;
    border: 1px solid #e9ecee;
}
.button-functions .popover{
    font-size: 13px;
}
.fre-credit-payment-onsite.not-money .popover, .button-functions.not-money .popover {
    display: block !important;
}
.fre-credit-payment-onsite .popover .arrow{
    margin-top: 0 !important;
}
.fre-credit-payment-onsite .popover-content:before, .button-functions .popover-content:before{
    content: "\f06a";
    font-family: "FontAwesome";
    padding-right: 5px;
    font-size: 12px;
    color: #f44336;

}
.blue-light{
    background: #00b0ff;
    color: #fff;
}
.banking-information.error .message{
    max-width: 100% !important;
    margin-top: 0 !important;
}
.banking-information.error i{
    right: 15px !important;
    bottom: 35px !important;
}
.text-blue-light{
    text-align: left !important;
}
@media (max-width:920px) {
    .fre-credit-payment-onsite .popover, .button-functions.not-money .popover{
        width: auto;
    }
}
@media (max-width:480px){
    #fre_credit_modal .credit-current-balance, #fre_credit_modal .credit-select-plan, #fre_credit_modal .credit-secure-code{
        padding: 0 20px 5px 20px;
    }
    #fre_credit_modal .credit-select-plan, #fre_credit_modal .credit-secure-code{
        padding-top: 20px;
    }
    #fre_credit_modal .footer{
        padding: 20px 20px 7px 20px;
    }
    #fre_credit_modal .credit-secure-code input[type="password"]{
        width: 100%;
        height: 40px;
        border-bottom: 1px solid #ecf0f1;
    }
    #fre_credit_modal .credit-secure-code .error i{
        position: absolute;
        top: 63px;
        right: 30px;
    }
    #fre_credit_modal .credit-secure-code .error .message{
        margin: 5px 0 0 0;
    }
    .balance-withdraw{
        border-top:none;
    }
    #fre_credit_withdraw_form .amount-withdraw .has-error .message{
        bottom: -4px;
    }
    .withdraw .modal-header{
        padding: 15px;
    }
    .modal-fre-credit .modal-header{
        border-bottom: 0;
    }
    .withdraw .modal-header .close{
        position: absolute;
        top: 7px;
        right: 12px;
    }
    .button-functions.not-money{
        width: 90%;
    }
    #fre_credit_withdraw_form .payment.has-error i{
        bottom: 40px;
    }
    #fre_credit_withdraw_form .has-error i{
        bottom: 35px;
    }
    #fre_credit_modal .credit-secure-code input[type="password"]{
        border: 1px inset rgba(215, 216, 218, 0.55);
        border-radius: 4px;
    }
    #fre_credit_edit_paypal_form input.form-control, #fre_credit_updat_bank_form input.form-control{
        height: 45px;
    }
    #fre_credit_edit_paypal_form button.btn-submit, #fre_credit_updat_bank_form button.btn-submit{
        padding: 6px 25px;
        margin: 10px 0;
    }
    #fre_credit_edit_paypal_form .error, #fre_credit_updat_bank_form .error{
        position: relative;
    }
    #fre_credit_edit_paypal_form .error .message, #fre_credit_edit_paypal_form i, #fre_credit_updat_bank_form .error .message, #fre_credit_updat_bank_form i{
        position: absolute;
        right: 2px;
    }
    #fre_credit_edit_paypal_form .error .message, #fre_credit_updat_bank_form .error .message{
        margin-top: 5px;
    }
    #fre_credit_edit_paypal_form i, #fre_credit_updat_bank_form i{
        bottom: 17px;
        right: 13px;
    }
    #fre_credit_updat_bank_form .banking-information i{
        bottom: 15px !important;
    }
    .change-log .date{
        padding: 13px 0 !important;
    }
}
.bootstrap-datetimepicker-widget .datepicker::before,
.bootstrap-datetimepicker-widget .datepicker::after {
    display: none;
}
@media (max-width:480px){
    #fre_credit_withdraw_form .amount-withdraw .has-error .message{
        font-size: 11px;
    }
    #fre_credit_withdraw_form .has-error .message{
        font-size: 11px;
    }
    #fre_credit_withdraw_form .has-error i{
        bottom: 29px;
    }
}
