.section-wrapper,
.blog-header-container,
.breadcrumb-wrapper {
	padding-top: 55px; // padding for header

	@media ($mobile_mdlg) {
		padding-top: 70px;
	}

	@media ($desktop_sm) {
		padding-top: 115px;
	}
}
