/*
Theme Name:     Freelanceengine Child
Theme URI:      http://enginetheme.com/
Description:    Child theme for the FreelanceEngine theme
Author:         enginethemes
Author URI:     http://enginetheme.com/about/
Template:       freelanceengine
Version:        1.0
*/


#header-wrapper {
	position: fixed;
}

.header-sub-wrapper {
	margin-top: 85px;
}

/*-------------
Home Page:
---------------*/

#video-background-wrapper {
	height: 100vh !important;
}

.section-margin {
	margin: 4em 0;
}

.repair-listing-section .vc_col-sm-2 {
	width: 20%;
	background: #fff;
	border-right: 2px solid hsl(0, 0%, 95%);
	margin-bottom: 2px;
}

.repair-listing-section .vc_icon_element {
	margin-bottom: 0px;
	margin-top: 20px;
}

.repair-listing-section .vc_col-sm-2.last-grid {
	border-right: none;
}

.repair-listing-section .vc_custom_heading {
	margin-bottom: 40px;
}

.repair-grid {
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border: none;
	border-bottom: 5px solid transparent;
	padding: 15px 10px 30px;
	position: relative;
	bottom: 0;
	letter-spacing: 1px;
	transition: color .2s ease;
}

.repair-grid:hover {
	border: none;
	border-right: 2px solid #f0f0f0;
	border-bottom: 5px solid #f6462e;
	color: #2c3e50;
	font-weight: 600;
}

.repair-grid:focus {
	border: none;
	border-right: 2px solid #f0f0f0;
	border-bottom: 5px solid #f6462e;
	box-shadow: 0 1px 1px rgba(119, 119, 119, 0.2);
}

.repair-grid:hover .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner .vc_icon_element-icon::before,
.repair-grid:focus .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner .vc_icon_element-icon::before {
	color: #f6462e;
}

.latest-project-grid .number-project-wrapper {
	background: none;
}

.our-process-section {
	padding-bottom: 3em;
}

.our-process-heading {
	color: hsl(210, 29%, 24%);
	font-size: 48px;
	font-weight: 300;
}

.process--text p {
	font-size: 18px;
}
.list-project .project-item.in .hidden-xs{display:none;}
.list-project .project-item.in .hidden-xs.hidden-sm{display:block;}





/*-----------------------
Terms and Conditions Page:
------------------------*/


.terms-main-heading-grid{
	margin-bottom:20px;
	font-weight: 700;
}


.terms-text-grid p strong{
	color:#2b3d4e;
	font-size:18px;
}

.terms-text-grid ul li{
	 line-height: 25px;
	  margin: 0px;
}


.terms-text-grid ol li{
	 line-height: 25px;
	  margin: 0px;
}

.terms-text-grid h4{
	color:#2b3d4e;
	font-weight:700;

}



.chosen-container .chosen-results li.active-result {
	text-transform: capitalize;
}


.footer-bottom-right .menu-footer-1-container{
	float:right;
	 margin-top: 10px;
}
.modal .rating-it,.modal .rating-itcheck{width:100%;clear:both;}
.modal .rating-it label,.modal .rating-itcehck label{width:81%;}
.modal .rating-itcehck .checkbox-label{width:auto;margin-left:5px;margin-right: 5px;}







@media screen and (max-width: 767px) {

	.repair-listing-section .vc_col-sm-2 {
		width: 100%;
	}

	.footer-bottom-right .menu-footer-1-container {
	float: none;
	text-align: center;
}

}


@media screen and (max-width: 991px) {

	.terms-main-heading-grid{
	font-size: 24px;
	}

	.terms-text-grid ul, .terms-text-grid ol{
	padding-left:15px;
	}

	#menu-footer-1{
		padding: 0;
	}



}





.logo-footer img {
	height: 55px;
}


