// Rem output with px fallback
@mixin font_size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center_block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix_after() {
	clear: both;
}


//  Vertical Align
@mixin vertical_align($align:relative, $top:50%) {
	position: $align;
	top: $top;
	transform: translateY(-50%);
}

//  Background Image
@mixin background ($folder:images, $img:file, $type:png, $repeat:no-repeat, $x:0, $y:0, $size:none) {
	background-image: url(../#{$folder}/#{$img}.#{$type});
	background-repeat: #{$repeat};
	background-position: #{$x} #{$y};

	@if $size != 'none' {
		background-size: $size;
	}
}

// Gradient Border
@mixin gradient_border($color01:#000000, $color02:#ffffff, $direction:right) {
	-webkit-border-image: -webkit-gradient(linear, 100% 0, 0 0, from(#{$color01}), to(#{$color02})) 1 100%;
	-webkit-border-image: -webkit-linear-gradient(#{$direction}, #{$color01}, #{$color02}) 1 100%;
	-moz-border-image: -moz-linear-gradient(#{$direction}, #{$color01}, #{$color02}) 1 100%;
	-o-border-image: -o-linear-gradient(#{$direction}, #{$color01}, #{$color02}) 1 100%;
	border-image: linear-gradient(to #{$direction}, #{$color01}, #{$color02}) 1 100%;
	border-image-slice: 1;
}


@mixin vert_grid($grid_lines: 6, $grid_color: $white, $zindex: 0) {
	.vert-grid {
		position: absolute;
		@include size(100%);
		z-index: $zindex;

		&__line {
			position: absolute;
			@include size(1px 100%);
			background: $grid_color;
			opacity: 0.06;

			&:nth-child(1) {
				opacity: 0;
			}

			@for $line from 1 through $grid_lines {
				&:nth-child(#{$line}) {
					$adjustment: $line - 1;
					left: calc((100%/#{$grid_lines})*#{$adjustment});
				}
			}
		} // &__line
	} // .vert-grid
}
