/* FONTS
---------------------------------- */
$font_header: 'Bourbon Grotesque';
$font_main: 'Gotham Book';
$font_light: 'Gotham Light';

/* COLORS
---------------------------------- */

/* Primary Colors */
$fire_engine_red: #c02026;
$international_orange: #c2282c;
$deep_carmine: #f03a3e;
$deep_koamaru: #1f3864;
$space_cadet: #22395d;
$bdazzled_blue: #31588d;

// Shades
$white: #ffffff;
$antiflash_white: #ecf0f4;
$azureish_white: #E3EAEC;
$lavender_grey: #c2c7ca;
$gray_chateau: #9fa4af;
$trolley_grey: #7a7f82;
$raven: #7d818a;
$dark_resin: #202225;
$asphalt: #1b1c1f;
$dark_knight: #17171a;
$eerie_black: #101113;

/* CORE STRUCTURE
---------------------------------- */
// _Padding
$main_padding: 20px;
$fat_padding: 35px;
$content_padding: 80px;
$main_pad: 2.35765%;
$fat_pad: 6.375%;


/* BASE SIZES
---------------------------------- */

// _Mobile
$facehugger: 0;
$xenomorph: 420px;
$optimus_prime: 576px;
$megatron: 660px;
$millenniumfalcon: 720px;
$voltron: 840px;

// _Desktop
$clover: 960px;
$gipsy_danger: 1000px;
$king_ghidorah: 1200px;
$kaiju: 1370px;
$godzilla: 1570px;

// _Astronomical
$betelgeuse: 1740px;
$canis_majoris: 1920px;
$cygni: 2300px;
$scuti: 2500px;


/* BREAKPOINTS
---------------------------------- */
// _Mobile
/*
	:: 375px <    */
		$mobile_xsm: "min-width: #{$xenomorph} - 45px"; /*
	:: 420px <    */
		$mobile_sm: "min-width: #{$xenomorph}"; /*
	:: 450px <    */
		$mobile_mds: "min-width: #{$xenomorph} + 30px"; /*
	:: 576px <    */
		$mobile_md: "min-width: #{$optimus_prime}"; /*
	:: 660px <    */
		$mobile_mdlg: "min-width: #{$megatron}"; /*
	:: 720px <    */
		$mobile_lg: "min-width: #{$millenniumfalcon}"; /*
	:: 800px <    */
		$mobile_lgm: "min-width: #{$voltron} - 40px"; /*
	:: 840px <    */
		$mobile_xlg: "min-width: #{$voltron}"; /*
// _Desktop
/*
	:: 960px <    */
		$desktop_xsm: "min-width: #{$clover}"; /*
	:: 1000px <    */
		$desktop_sm: "min-width: #{$gipsy_danger}"; /*
	:: 1100px <    */
		$desktop_mds: "min-width: #{$king_ghidorah} - 100px"; /*
	:: 1200px <    */
		$desktop_md: "min-width: #{$king_ghidorah}"; /*
	:: 1280px <    */
		$desktop_mdlg: "min-width: #{$king_ghidorah} + 80px"; /*
	:: 1370px <    */
		$desktop_lg: "min-width: #{$kaiju}"; /*
	:: 1570px <    */
		$desktop_xlg: "min-width: #{$godzilla}"; /*
// _Astronomical
/*
	:: 1740px < + 1110px <    */
		$milky_way: "min-width: #{$betelgeuse} min-height: #{$gipsy_danger} + 110px"; /*
	:: 1800px <    */
		$desktop_xxlg: "min-width: #{$betelgeuse} + 60px"; /*
	:: 1920px <    */
		$andromeda: "min-width: #{$canis_majoris}"; /*
	:: 1920px < + 960px >    */
		$ursa_major: "min-width: #{$canis_majoris} max-height: #{$clover}"; /*
	:: 2300px <    */
		$blackhole: "min-width: #{$cygni}"; /*
	:: 2500px <    */
		$pinwheel: "min-width: #{$scuti}"; /*

// _Short
/*
	:: 600px <    */
		$short_xsm: "min-height: #{$megatron} - 60px"; /*
	:: 690px <    */
		$short_sm: "min-height: #{$megatron} + 30px"; /*
	:: 820px <    */
		$short_md: "min-height: #{$voltron} - 20px"; /*
	:: 900px <    */
		$short_lg: "min-height: #{$voltron} + 60px"; /*
	:: 1020px <    */
		$short_xlg: "min-height: #{$gipsy_danger} + 20px"; /*
	:: 1110px <    */
		$short_xxlg: "min-height: #{$gipsy_danger} + 110px";
