.notice-first-login {
  background: #E55D52;
  margin-top: 14px;
  margin-bottom: 20px;
  border-radius: 3px;
  p {
    margin: 0;
    padding: 14px;
    color: #FFF;
    i {
      margin-right: 4px;
    }
  }
}
.form-group-mobile-captcha {
  text-align: center;
  .gg-captcha {
    display: inline-block;
  }
}

//------------------------------------------------------------
//
.accept-bid-content {
    h2 {
        font-size: 20px;
        font-weight: 700;
        color: #2c3e50;
    }
    p {
        font-size: 16px;
        color: #666f78;
        line-height: 1.6em;
    }
}