footer {
	&.home-footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		@include size(100% 140px);
		background-color: transparent;
		@include background(images, footer-triangle, svg, no-repeat, 50%, 3px, cover);
		padding: 0;
		overflow: hidden;
		padding-bottom: 12px;

		@media ($mobile_mdlg) {
			height: 250px;
		}

		@media ($desktop_sm) {
			height: 475px;
		}

		.site-seals {
			display: none;

			@media ($desktop_sm) {
				display: flex;
				align-items: center;
				margin-bottom: 20px;

				.norton-seal {
					width: 135px;
					margin: 0 30px;
				}

				.dandb-seal {
					width: 90px;
				}
			}
		}

		.bottom-bar {
			display: flex;
			justify-content: center;
			align-items: center;
			text-transform: uppercase;
			font-size: 15px;
			letter-spacing: 1px;
			color: $trolley_grey;
			margin-top: 20px;

			a {
				display: none;
				color: $trolley_grey;

				@media ($mobile_mdlg) {
					display: block;
				}

				&:hover {
					color: $azureish_white;
				}
			}

			.footer-logo {
				@include size(110px 50px);
				display: none;
				@include background(images, logo, svg, no-repeat, 0, 0, 100%);

				@media ($mobile_mdlg) {
					display: block;
					@include size(110px 50px);
					margin: 0 18px;
				}
			}
		}
	}
}
