#modalUpdateBank {
	.input-wrapper {
		display: flex;

		.input-element {
			// width: 40%;
			flex: 1 1 50%;

			&:nth-child(1) {
				margin-right: 14px;
			}
		} // .input-element
	} // .input-wrapper

	.account-plan {
		margin-bottom: 30px;

		input {
			width: auto;
			font-size: 22px;
			margin-bottom: 12px;
		}
	}

	.bank-errors {
		color: $international_orange;
		margin-bottom: 16px;
	}

	.btn-sumary {
		display: block;
		margin: 30px auto 0;
		text-align: center;
	}
}
