header {
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	@include size(100% 55px);
	padding: 0 $fat_pad;
	transition: all 0.4s;
	z-index: 11;

	@media ($mobile_mdlg) {
		padding: 0 40px;
		height: 70px;
	}

	@media ($desktop_sm) {
		height: 115px;
	}

	// Background
	&:before {
		content: '';
		position: absolute;
		top: -150%;
		left: 0;
		@include size(100%);
		transform: skewY(-7deg);
		background: $white;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		opacity: 0;
		z-index: -1;
		transition: all 0.4s;
	}

	&.solid {
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			@include size(100%);
			transform: none;
			background: $space_cadet;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
			opacity: 1;
			z-index: -1;
			transition: all 0.4s;
		}
	}

	&.hidden-header {
		opacity: 0;
		transform: translateY(-130px);
	}

	// ::
	// HAMBURGER ---------------------------::
	// ____
	.hamburger {
		@include vertical_align(absolute);
		width: 40px;

		span {
			display: block;
			background: $white;
			transition: all 0.3s;

			&.line01 {
				@include size(35px 3px);
				margin-bottom: 8px;
			}

			&.line02 {
				@include size(29px 3px);
				margin-bottom: 8px;
			}

			&.line03 {
				@include size(100% 3px);
			}
		} // span

		&:hover {
			span {
				width: 100%;
			}
		}
	}

	// Logo
	.logo {
		@include position(absolute, 50% 0 null 0);
		@include background(images, logo, svg, no-repeat, 0, 0, 100%);
		margin: 0 auto;
		@include size(100px 45px);
		transform: translateY(-50%);

		@media ($mobile_mdlg) {
			@include size(111px 50px);
		}

		@media ($desktop_sm) {
			@include size(162px 73px);
		}
	}

	// ::
	// USER INFO ---------------------------::
	// ____
	.user-info {
		@include vertical_align(absolute);
		right: $fat_pad;

		@media ($mobile_mdlg) {
			right: 40px;
		}

		// Guest View
		.guest-links {
			display: none;

			@media ($mobile_mdlg) {
				display: inline-block;
				position: relative;
				color: $white;
				font-size: 17px;
				text-transform: uppercase;
				letter-spacing: 1px;
				opacity: 0.75;
				transition: all 0.4s;
			}

			@media ($desktop_sm) {
				font-size: 20px;
			}

			&:hover {
				opacity: 1;
			}
		}

		.login {
			margin-right: $main_padding;

			@media ($desktop_sm) {
				margin-right: $fat_padding;
			}

			&--mobile {
				position: relative;
				display: block;
				width: 50px; // more room to click w/ finger
				text-align: right;

				@media ($mobile_mdlg) {
					display: none;
				}

				svg {
					@include size(24px 23px);
					fill: $white;
					transition: all 0.4s;
				}
			} // &--mobile
		}

		.sign-up {
			padding: 10px 16px 8px;
			border: 1px solid $white;

			@media ($desktop_sm) {
				padding: 14px 22px 12px;
			}

			&:before {
				content: '';
				@include position(absolute, 0 null null 0);
				@include size(0 100%);
				background: $white;
				transition: all 0.5s $ease-in-out-circ;
				z-index: -1;
			}

			&:hover {
				color: $deep_carmine;

				&:before {
					width: 100%;
				}
			} // &:hover
		} // .sign-up

		// User View
		.et-dropdown,
		.dropdown {
			margin-right: -20px;

			@media ($mobile_xlg) {
				margin-right: 0;
			}

			.avatar {
				user-select: none;
				transition: color 0.3s;

				img,
				.avatar {
					margin-right: 0;
					@include size(35px);
					border-radius: 50%;

					@media ($mobile_xlg) {
						margin-right: 8px;
					}
				}

				// Notification Count
				.circle-new {
					position: absolute;
					/* min-width: 18px;
					width: auto;
					height: 18px; */
					@include size(8px);
					color: $deep_carmine;
					background: $deep_carmine;
					left: 38px;
					// top: 2px;
					padding: 2px 3px 2px;
					font-size: 10px;
				}

				> span {
					display: none;
					color: $white;
					transition: color 0.3s;

					@media ($mobile_xlg) {
						display: inline-block;
						max-width: 180px;
					}
				}
			}

			.caret {
				display: none;
				color: $white;
				transition: color 0.3s;

				@media ($mobile_xlg) {
					display: inline-block;
				}
			}

			.et-dropdown-login,
			.dropdown-menu {
				display: block;
				top: 0;
				opacity: 0;
				visibility: hidden;
				border: none;
				min-width: 200px;
				padding-top: 46px;
				border-radius: 0;
				transition: all 0.3s;
				z-index: -1;

				li {
					border-color: $azureish_white;

					a {
						color: $space_cadet;

						i {
							color: $bdazzled_blue;
							transition: all 0.3s;
						}

						&:hover {
							color: $white !important;
							background: $international_orange;

							i {
								color: $white;
							}
						}
					}
				} // li
			} // .dropdown-menu

			&.open {
				.avatar {
					color: $international_orange;

					.circle-new {
						color: $deep_carmine;
					}
				}

				.caret,
				span {
					color: $international_orange;
				}

				.et-dropdown-login,
				.dropdown-menu {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	} // .user-info

	// ::
	// STICKY ---------------------------::
	// ____
	&.sticky {
		&:before {
			top: 0;
			transform: skewY(0deg);
			opacity: 0.9;
		}

		&.solid {
			&:before {
				background: $white;
			}
		}

		.hamburger {
			span {
				background: $deep_koamaru;
			}
		}

		.user-info {
			.guest-links {
				color: $international_orange;
				opacity: 1;

				&.login {
					color: $deep_koamaru;
				} // &.login

				&.sign-up {
					border: 1px solid $international_orange;

					&:before {
						background: $international_orange;
					}

					&:hover {
						color: $white;
					}
				} // .sign-up
			}

			.login--mobile {
				svg {
					fill: $deep_koamaru;
				}
			} // --mobile

			.et-dropdown,
			.dropdown {
				.avatar,
				.caret,
				span {
					color: $deep_koamaru;
				}

				// Notification Count
				.circle-new {
					color: $deep_carmine;
				}
			} // .et-dropdown
		}
	} // .sticky
} // header


// ::
// MOBILE ---------------------------::
// ____
.touch,
.uk-touch,
.us-touch {
	header {
		// User View
		.et-dropdown,
		.dropdown {
			margin-right: 0;

			.dropdown-menu {
				top: -10px;
				left: auto;
				right: -10px;
				padding: 46px 10px 10px;

				li {
					border-top: 1px solid #eeeeee;

					&:first-child {
						margin-top: 5px;
					}

					a {
						padding: 10px 13px;

						i {
							padding-right: 20px;
						}
					}
				}
			}

			&.open {
				.dropdown-menu {
					top: -10px;
					left: auto;
					right: -10px;
				}
			}
		}
	}
}
