.menu-prime {
	@include position(fixed, 0 null null 0);
	@include size(100vw 100vh);
	background: $asphalt;
	border: 12px solid $dark_resin;
	transform: translateX(-100%);
	overflow: hidden;
	z-index: 1050;

	.close-menu {
		@include position(absolute, 20px null null 20px);
		@include size(40px);
		transition: none;
		z-index: 3;

		&:before,
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			@include size(100% 3px);
			background: $deep_carmine;
			transform: rotate(-45deg);
			transition: all 0.3s;
		}

		&:after {
			transform: rotate(45deg);
		}

		&:hover {
			&:before {
				background: shade($deep_carmine, 30%);
				transform: rotate(-53deg);
			}

			&:after {
				background: shade($deep_carmine, 30%);
				transform: rotate(53deg);
			}
		}
	}

	.diamond {
		@include position(absolute, 10% -5% null null);
		@include size(65vw);
		min-height: 500px;
		min-width: 500px;
		background: $dark_knight;
		transform: rotate(-45deg);
		z-index: 0;
	}

	.menu {
		@include position(absolute, 0 null null 0);
		@include size(100%);
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 1;

		@media ($desktop_sm) {
			text-align: right;
			width: 50%;
			justify-content: flex-end;
		}

		ul {
			list-style: none;
			padding: 0;

			li {
				a {
					position: relative;
					font-family: $font_header;
					color: #8a8d95;
					font-size: 30px;
					line-height: 60px;
					letter-spacing: 1px;

					@media ($mobile_md) {
						font-size: 40px;
						line-height: 70px;
					}

					@media ($desktop_sm) {
						font-size: 54px;
						line-height: 90px;
					}

					&:before {
						content: '';
						@include position(absolute, null null 5% -15%);
						@include size(0 30px);
						background: $space_cadet;
						transform: skewX(-45deg);
						transition: all 0.4s $ease-in-out-circ;
						z-index: -1;
					}

					&:hover {
						color: $white;

						&:before {
							width: 123%;
						}
					}
				}

				&.active {
					a {
						color: $deep_carmine;

						&:before {
							display: none;
						}
					}
				}
			}
		} // ul
	} // .menu
} // .menu-prime

// Default Overlay Menu
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba($asphalt, 0.95);
	z-index: 1100;

	&.overlay-scale {
		visibility: hidden;
		opacity: 0;
		transform: scale(0.9);
		transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
	}

	&.open {
		visibility: visible;
		opacity: 1;
		transform: scale(1);
		transition: transform 0.4s, opacity 0.4s;
		overflow: auto;
		z-index: 9999;
	}
}
