@include font-face("Bourbon Grotesque", "../fonts/bourbongrotesque");
@include font-face("Gotham Book", "../fonts/Gotham-Book");
@include font-face("Gotham Light", "../fonts/Gotham-Light");


body,
button,
input,
select,
textarea {
	font-family: $font_main, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	text-rendering: optimizeLegibility !important;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased !important;

}

h1, h2, h3, h4, h5, h6 {
	font-family: $font_header;
	font-weight: 400;
}

h2 {
	font-size: 54px;
	letter-spacing: 1px;
}

p {
	font-size: 14px;
	line-height: 22px;
	color: $eerie_black;

	@media ($desktop_xsm) {
		font-size: 16px;
		line-height: 28px;
	}
}

a {
	color: $deep_carmine;
	@include transition(all 0.3s);

	&:visited,
	&:focus {
		color: $deep_carmine;
	}

	&:hover,
	&:active {
		color: $fire_engine_red;
		outline: 0;
	}
}

.notification-error {
	color: $international_orange;
	font-style: italic;
}

.modal-header .modal-title {
	font-weight: 400;
}


// Rating
.rate-it {
	padding-top: 6px;

	i,
	.star-on-png,
	.star-half-png {
		font-size: 17px;
		color: $bdazzled_blue !important;
	}

	.off,
	.star-off-png {
		&:before {
			color: $lavender_grey !important;
		}
	}
}
