button {
	outline: none;
}

// Theme Buttons
.btn {
	color: $white;

	&:visited,
	&:hover,
	&:focus {
		color: $white
	}

	&.btn-apply-project-item,
	&.btn-view-profile,
	&.btn-excecute-project,
	&.btn-refund-project {
		background-color: $deep_carmine;
		box-shadow: none;
	}

	&.btn-apply-project-item {
		float: none;
		margin: 20px 0;
		font-size: 20px;
		text-transform: uppercase;
		border-radius: 0;
		padding: 14px 34px 12px 34px !important;
	}
}

.btn-sumary {
	font-size: 20px;
	text-transform: uppercase;
	border-radius: 0;
	padding: 14px 34px 12px 34px !important;

	&.blue-light {
		background: $bdazzled_blue !important;

		&:hover {
			opacity: 1;
			background: $space_cadet !important;
		}
	}
}

.tab-content-profile .block-profiles input.btn-submit {
	height: auto !important;
	border-radius: 0;
	background: $deep_carmine;
	box-shadow: none;
}

.button {
	display: inline-block;
	text-decoration: none;
	position: relative;
	margin-top: 20px;

	@media ($mobile_xlg) {
		margin-top: 40px;
	}

	.bottom {
		position: absolute;
		left: 7px;
		top: 7px;
		width: 100%;
		height: 100%;
		background-color: $space_cadet;
		display: block;
		transition: all .55s ease-out;
	}

	.top {
		position: relative;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		padding: 16px 16px 14px 16px;
		border: 2px solid $deep_carmine;
		transition: all .4s ease-out;

		@media ($mobile_xlg) {
			padding: 24px 34px 22px 34px;
		}

		.label {
			font-family: sans-serif;
			font-weight: 600;
			color: $white;
			font-size: 12px;
			line-height: 110%;
			letter-spacing: 2px;
			text-align: center;
			text-transform: uppercase;
			transition: all .4s ease-out;
		}
	}

	.button-border {
		position: absolute;
		background-color: $bdazzled_blue;
		transition: all .3s ease-out;

		&.button-border-left {
			left: -2px;
			bottom: -2px;
			width: 2px;
			height: 0;
		}

		&.button-border-top {
			left: -2px;
			top: -2px;
			width: 0;
			height: 2px;
		}

		&.button-border-right {
			right: -2px;
			top: -2px;
			width: 2px;
			height: 0;
		}

		&.button-border-bottom {
			right: -2px;
			bottom: -2px;
			width: 0;
			height: 2px;
		}
	}

	&:hover {
		.bottom {
			left: 0;
			top: 0;
			background-color: transparent;
		}
		.top {
			border-color: transparent;
			.label {
				color: $white;
			}

			.button-border-left, .button-border-right {
				height: calc(100% + 2px);
			}
			.button-border-top, .button-border-bottom {
				width: calc(100% + 2px);
			}
		} // .top
	} // &:hover
}
