.heading-divider {
	position: relative;
	@include size(100% 11px);
	@include background(images, heading-divider, svg, no-repeat, 0, 0, 115px 11px);
	margin-bottom: 8px;

	&:before {
		content: '';
		@include position(absolute, 5px null null 0);
		@include size(100% 2px);
		background: $white;
		opacity: 0.3;
	}
}
