.list-profile {
	.profile-content {
		position: relative;
		box-shadow: 2px 6px 33px rgba(#000000, 0.2);
		transition: all 0.35s;

		&:hover {
			box-shadow: 2px 9px 46px rgba(#000000, 0.26);
			transform: translateY(-4%);
		}

		&:before {
			content: '';
			@include position(absolute, 0 null null 0);
			@include size(5px 100%);
			background: $deep_carmine;
		}

		.top-profile {
			.img-avatar {
				.avatar-profile {
					@include size(85px);
				}
			}

			.info-profile {
				.name-profile {
					color: $deep_carmine;
					font-weight: 400;
					font-size: 22px;
					letter-spacing: 1px;
				}

				.rate-it {
					padding-top: 6px;

					i,
					.star-on-png,
					.star-half-png {
						font-size: 17px;
						color: $bdazzled_blue !important;
					}

					.off,
					.star-off-png {
						&:before {
							color: $lavender_grey !important;
						}
					}
				}
			}
		} // .top-profile

		.bottom-profile {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			margin-top: 30px;

			@media ($mobile_md) {
				flex-direction: row;
			}

			.address {
				position: relative;
				display: flex;
				align-items: center;
				min-height: 45px;
				margin-left: 52px;
				font-size: 18px;
				color: $raven;
				letter-spacing: 1px;

				&:before {
					content: '';
					@include position(absolute, 0 null null -52px);
					@include size(36px 45px);
					@include background(images, map-pin, svg, no-repeat, 0, 0, 100%);
				}
			}

			.btn-view-profile {
				position: relative;
				padding: 10px 16px 8px;
				border: 2px solid $deep_carmine;
				outline: none;
				border-radius: 0;
				background: transparent;
				color: $deep_carmine;
				font-size: 18px;
				text-transform: uppercase;

				@media ($desktop_sm) {
					padding: 12px 18px 8px;
				}

				&:before {
					content: '';
					@include position(absolute, 0 null null 0);
					@include size(0 100%);
					background: $deep_carmine;
					transition: all 0.5s $ease-in-out-circ;
					z-index: -1;
				}

				&:hover {
					opacity: 1;
					color: $white;

					&:before {
						width: 100%;
					}
				} // &:hover
			} // .btn-view-profile
		} // .bottom-profile
	} // .profile-content
} // .list-profile

.paginations-wrapper {
	display: flex;
	justify-content: center;
	padding-top: 20px;
	margin: 0;

	.view-all {
		float: none;
		background: $deep_koamaru;
		padding: 12px 18px 8px;
		font-family: $font_main;
		font-size: 20px;
		color: $white;
		text-transform: uppercase;

		&:hover {
			background: $bdazzled_blue;
			color: $white;
			box-shadow: 2px 6px 20px rgba($deep_koamaru, 0.4);
		}

		&:after {
			display: none;
		}
	} // .view-all
} //.paginations-wrapper
