.list-project-wrapper {
	@extend %container;
}

.project-list-container {
	.project-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		box-shadow: 2px 6px 20px rgba(#000000, 0.2);
		border-left: 5px solid $deep_carmine;
		margin-bottom: 30px;
		padding: 0;
		transition: all 0.35s;

		@media ($mobile_lgm) {
			flex-direction: row;
			box-shadow: 2px 6px 33px rgba(#000000, 0.2);
		}

		.project-item-title {
			width: 100%;
			font-size: 20px;
			padding: 5px 12px;
			color: $deep_carmine;

			@media ($mobile_lgm) {
				width: 50%;
				padding: 10px 10px 10px 20px;
			}

			@media ($desktop_lg) {
				padding: 10px 20px 10px 30px;
				font-size: 22px;
			}
		}

		.date {
			position: relative;
			display: flex;
			align-items: center;
			flex: 1 1 32px;
			padding: 5px 12px;
			width: 100%;

			@media ($mobile_lgm) {
				flex: 1 1 25%;
				height: 80px;
				width: auto;
				padding: 10px 20px;

				&:before {
					content: '';
					@include position(absolute, 12.5% null null -3px);
					height: 75%;
					border-left: 2px solid #e0e5ec;
					transition: all 0.35s;
				}
			}

			@media ($desktop_xsm) {
				height: 100px;
			}

			span {
				font-size: 14px;
				color: $raven;

				@media ($desktop_xsm) {
					font-size: 16px;
				}

				@media ($desktop_lg) {
					font-size: 18px;
				}
			}
		}

		.button-bid {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			padding: 20px;
			background: #f7f8f9;
			font-size: 18px;
			color: $bdazzled_blue;
			text-transform: uppercase;
			transition: all 0.35s;
			z-index: 1;

			@media ($mobile_lgm) {
				justify-content: flex-start;
				width: auto;
				height: 80px;
				padding: 30px;
			}

			@media ($desktop_xsm) {
				height: 100px;
				font-size: 20px;

				&:before {
					content: '';
					@include position(absolute, 0 null null -35px);
					@include size(100%);
					background: #f7f8f9;
					transition: all 0.35s;
					transform: skewX(-32deg);
					z-index: -1;
				}
			}

			@media ($desktop_lg) {
				font-size: 22px;
			}
		}

		&:hover {
			opacity: 1;
			background: $dark_resin;
			box-shadow: 2px 9px 46px rgba(#000000, 0.4);

			.project-item-title {
				color: $deep_carmine;
			}

			.date {
				&:before {
					border-color: #3a3d42;
				}
			}

			.button-bid {
				background: $bdazzled_blue;
				color: $white;

				&:before {
					background: $bdazzled_blue;
				}

				/* &:hover {
					background: $bdazzled_blue;
					color: $white;

					&:before {
						background: $bdazzled_blue;
					}
				} */
			}
		} // &:hover
	} //.project-item
} // .project-list-container
