//=== modal ae stripe
//
.modal-stripe {
	.modal-dialog {
		width: auto;
	}
	.modal-header {
		padding: 15px;
	}
	.modal-title {
		font-size: 16px;
	}
	button.close {
		position: absolute;
		font-size: 20px;
	}
	.modal-body {
		padding: 20px 15px 20px;
		input[type="text"] {
			width: 100%;
			height: 42px;
			outline: none;
			border: 1px solid #dde0e3;
			border-radius: 3px;
			margin-bottom: 25px;
			padding: 10px;
		}
	}
	button[type="submit"] {
		padding: 12px 20px;
		margin-bottom: 10px;
		text-align: center;
		background: #e74c3c !important;
		box-shadow: 0 3px 0 #bf392b;
		font-weight: 700;
		color: #FFF;
	}
	form {
		label {
			margin-bottom: 5px;
			line-height: 1em;
			font-weight: 400;
		}
	}
	.plan_desc {
		display: block;
		p {
			margin: 10px 0 0;
			font-size: 16px;
			color: #666f78;
			line-height: 1em;
		}
	}
}

#stripe_modal .modal-header .close {
	width: auto !important;
	height: auto !important;
	top: 15px;
	right: 15px;
}